{
  "extends": ["eslint:recommended", "prettier", "next/core-web-vitals", "plugin:tailwindcss/recommended"],
  "plugins": ["simple-import-sort"],
  "rules": {
    "no-unused-vars": "warn",
    "simple-import-sort/imports": "error",
    "simple-import-sort/exports": "error",
    "@next/next/no-img-element": "off",
    "tailwindcss/classnames-order": "off",
    "tailwindcss/no-custom-classname": "off"
  }
}
